body,
html,
#__nuxt,
#__layout {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

//定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  //background: #49b1f5;
}
//定义滑块 内阴影+圆角
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #49b1f5;
}
//定义滚动条轨道 内阴影+圆角
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50,50,50,.1);
}

.bg-class {
  background-attachment: fixed;
  background-image: url("~static/common/index.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  transition: all .5s;
}

.layout-body {
  scroll-behavior: smooth;
}

.content-body {
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  max-width: 1200px;
}
